{% load static %}
<footer class="main_footer overlay">
    <div class="overlay">
        <div class="footer_logo">
            <img src="{% static 'images/logo.jpg' %}" alt="">
        </div>
        <div class="contact">
            <p>Phone: <br> <span>(305)- 333 - 3333</span></p>
            <p>Address: <br> <span>Main Collins, 34 street, Miami FL.</span></p>
            <p>Email: <br> <span>spservice@company.com</span></p>
        </div>
        <div class="cpry">
            <p>&copy; 2019 all rights reserved | Created by Andral Orelus </p>
        </div>
    </div>
</footer>