{% extends 'base.html' %}
{% block title %} | User Login {% endblock %}
{% block content %}
<div class="account-form-group">
    {% include 'partials/_alerts.html' %}
    <form class="login-form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form_top_info">
            <h1><span class="form-icon"><i class="fas fa-sign-in-alt"></i></span>Login</h1>
        </div>
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required/>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required/>
        </div>
        <div class="input-group">
            <input class="btn" value="Login" type="submit">
        </div>
    </form>
</div>
{% endblock %}