{% extends 'base.html'%}
{% block title %} | Our Services {% endblock %}
{% block content %}
<div class="showcase gb">
    <div class="bg-image"></div>
    <div class="show-wrapper">
        <div class="content">
            <h1><span>Services</span></h1>
        </div>
    </div>
</div>
<section class="our_service">
    <div class="service_page_wrap">
        {% if services %}
        {% for service in services %}
            <div class="service_page_info">
                <div class="service_page_image">
                    <img src="{{service.image.url}}" alt="Service Page image">
                </div>
                <div class="service_page_text">
                    <h1 class="serv_title">{{service.job}}</h1>
                    <p class="serv_para">
                        {{service.description}}
                    </p>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="no-content">
            <p class="blog-para"> No content Available</p>
        </div>
        {% endif %}
    </div>
    <div class="pagination">
        {% if services.has_other_pages %}
        <div class="paginators">
            {% if services.has_previous %}
            <a class="clr" href="?page={{services.previous_page_number}}">&laquo;</a>
            {% else %}
            <a class="disabled clr">&laquo;</a>
            {% endif %}
            {% for i in services.paginator.page_range %}
            {% if services.number == i %}
            <a class="active">{{i}}</a>
            {% else %}
            <a href="?page={{i}}">{{i}}</a>
            {% endif %}
            {% endfor%}
            {% if services.has_next %}
            <a class="clr" href="?page={{services.next_page_number}}">&raquo;</a>
            {% else %}
            <a class="disabled clr">&raquo;</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <!-- <div class="testimonials">
        <div class="test_content">
            <h1 class="title">Testimonials</h1>
            <div class="wrapper">
                {% if testimonials %}
                {% for testimonial in testimonials %}
                <div class="client">
                    <div class="img_box">
                        <img src="images/john.png">
                    </div>
                    <div class="info">
                        <blockquote>{{testimonial.quote}}</blockquote>
                        <span class="test_author">- {{ testimonial.name }} -</span>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="no-content">
                    <p>No Testimonial have yet posted</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div> -->

    <div id="clients">
        <h1><span class"title-clr">Some of My <br></span> Clients</h1>
        <div class="client-content">
            {% if clients %}
            {% for client in clients %}
            <div class="client-img">
                <a href="{{client.client_link}}" class="client-link">
                    <img src="{{client.image.url}}" alt="client images">
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="no-content">
            <p class="blog-para"> No content Available</p>
        </div>
        {% endif %}
    </div>
</section>


{% endblock%}

